# dependencies
node_modules

# output
out
out-test
tmp
_tmp
*.pdf
*.log
pnpm-debug.log*
playwright/.cache/
**/_print_bundle.html
**/_extracted/
**/.DS_Store
dist
*.tgz
docs/.next
docs/.source
docs/out
.vercel
.mise.local.toml

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store

# local appdata snapshots / dumps
userdata
bun.lock*
